.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
}

.noSelect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently 
  supported by Chrome, Opera and Firefox */
}


.backgroundImage {
  width: 100%;
  height: 100vh;
}

.backdropDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(7px);
  box-shadow: 0px 5px 15px #1e2024;
}

.backdropDivTextName {
  font-size: 60px;
  color: white;
  font-family: "SmoochRegular";
}

.backdropDivTextDesc {
  font-size: 40px;
  color: white;

}

.aboutMeSectionContainer {
  display: flex;
  align-items: center;
  /* border: 1px solid white; */
  height: 1000px;
  background-color: #282c34;
}

.aboutMeSectionTitle {
  color: #84789c;
  position: absolute;
  font-size: 64px;
  font-weight: 700;
  opacity: 0.7;
  z-index: 1;

}

.aboutMeSectionText {
  font-size: 26px;
  color: white;
  margin-left: 50%;
  z-index: 2;
  text-align: start;
}

.aboutMeSectionMoreText {
  font-size: 18px;
  color: #84789c;
}

.meImgContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 80vw;
  border-radius: 50%;
  border: 1px solid white;
  background-color: white;
  height: 205px;
  width: 205px;
  z-index: 1;

  animation: borderOpacityPulse 2s infinite linear;
}

.meImg {
  height: 200px;
  width: 200px;
  border-radius: 50%;

}

.mainProjectsContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  /* border: 1px solid red; */
  padding-bottom: 300px;

  padding-left: 20vw;
  padding-right: 20vw;
  z-index: 1000;
}

.projectsTitle {
  color: #84789c;
  font-size: 36px;
  margin-bottom: 60px;
  position: relative;
  z-index: 20;
}

.projectsContainer {
  display: grid;
  max-width: 80vw;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: row;

  /*   border: 1px solid red; */
}


.project {
  border: 1px solid white;
  position: relative;
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius: 10px;
}


.project1 {
  display: flex;
  text-decoration: none;
  font-size: 20px;
  color: white;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  position: relative;
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius: 10px;
}

.project1bg {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  height: 200px;
  width: 200px;
  background-color: #84789c;
  border-radius: 200px;
}

.project1BgBorder {
  position: absolute;
  border-bottom: 2px solid black;
  border-radius: 200px;
  padding: 5px;
  width: 205px;
  height: 205px;

  animation: p1BorderAnim 2s infinite linear;
}

.project2 {
  display: flex;
  text-decoration: none;
  font-size: 20px;
  color: white;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  position: relative;
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius: 10px;
}

.project2:hover {
  animation: projectHoverAnimation 2s infinite ease-in-out;
}

.lofProjectGif {
  height: 290px;
  width: 290px;
  border-radius: 10px;
}


@keyframes p1BorderAnim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);

  }
}


.project1:hover {
  animation: projectHoverAnimation 2s infinite ease-in-out;
}


@keyframes projectHoverAnimation {
  0% {
    transform: rotate(0deg);
  }

  35% {
    transform: rotate(1deg);
  }

  70% {
    transform: rotate(-1deg);

  }

  100% {
    transform: rotate(0deg);

  }
}

@keyframes borderOpacityPulse {
  0% {
    box-shadow: 0px 0px 0px white;
  }

  50% {
    box-shadow: 0px 0px 10px white;
  }

  100% {
    box-shadow: 0px 0px 0px white;
  }
}


.homeReactLogo {
  position: absolute;
  height: 100px;
  width: 130px;
  margin-right: 80vw;
}

.homeJSLogo {
  position: absolute;
  height: 90px;
  width: 90px;
  margin-right: 80vw;
  margin-top: 100px;
}

.homeCSSLogo {
  position: absolute;
  height: 100px;
  width: 90px;
  margin-right: 80vw;
  margin-top: 200px;
}