.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
}


.backgroundImage {
  width: 100%;
  height: 65vh;
  border-bottom: 2px solid lightgray;
}

.backdropDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  backdrop-filter: blur(5px);
}

.backdropDivText {
  font-size: 30px;
  color: white;
}

.mainProjectsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  border: 1px solid red;
  padding-top: 10vh;
  padding-bottom: 10vh;

  padding-left: 20vw;
  padding-right: 20vw;
}

.projectsTitle {
  position: relative;
  color: white;
  font-size: 24px;
  margin-bottom: 40px;
}

.projectsContainer {
  display: grid;
  max-width: 80vw;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: row;

  /*   border: 1px solid red; */
}


.project {
  border: 1px solid white;
  position: relative;
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius: 10px;
}


.project1 {
  display: flex;
  text-decoration: none;
  font-size: 20px;
  color: white;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  position: relative;
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius: 10px;
}

.project1bg {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  height: 200px;
  width: 200px;
  background-color: #84789c;
  border-radius: 200px;
}

.project1BgBorder {
  position: absolute;
  border-bottom: 2px solid black;
  border-radius: 200px;
  padding: 5px;
  width: 205px;
  height: 205px;

  animation: p1BorderAnim 2s infinite linear;
}

@keyframes p1BorderAnim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);

  }
}


.project1:hover {
  animation: projectHoverAnimation 2s infinite ease-in-out;
}


@keyframes projectHoverAnimation {
  0% {
    transform: rotate(0deg);
  }

  35% {
    transform: rotate(2deg);

  }

  70% {
    transform: rotate(-2deg);

  }

  100% {
    transform: rotate(0deg);
  }
}